@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container mt-5">
    <header class="text-center">
        <h1 class="display-3">🔒 Your Magical Privacy at Movie Manager 🌟</h1>
        <p class="lead">We value your privacy and are committed to protecting it!</p>
    </header>

    <div class="mt-5">
        <h2>🌈 The Information We Collect</h2>
        <p>At Movie & Actor Wonderland, we gather a sprinkle of data when you use our magical services:</p>
        <ul>
            <li>Your marvelous movie and actor details, including titles, genres, IMDb links, release years, and enchanting media.</li>
            <li>Data from Reddit and Twitter related to movies and actors, adorned with sentiment analysis.</li>
            <li>Magical insights about the links between actors and movies.</li>
        </ul>

        <h2>✨ How We Harness Your Information</h2>
        <p>We put this magical information to good use by:</p>
        <ul>
            <li>Conjuring up and displaying movie and actor data throughout the website.</li>
            <li>Weaving sentiment analysis spells to provide you with wondrous insights into movies and actors.</li>
            <li>Managing and displaying the secret connections between actors and movies.</li>
        </ul>

        <h2>🛡️ Guarding Your Precious Data</h2>
        <p>We cast strong protective spells to shield your data from any unauthorized access, alteration, or any mischievous disclosure.</p>

        <h2>🌐 Sharing the Magic</h2>
        <p>Your personal data is safe with us; we don't reveal your secrets to third parties. However, do remember that some data, like Reddit and Twitter posts, comes from public realms and may be visible on our enchanted website.</p>

        <h2>✨ Your Choices Matter</h2>
        <p>You have the power to decide what you share with us. Feel free to withhold personal information or wave goodbye to our magical services whenever you like. If you wish, you can even opt out of the spellbinding sentiment analysis features.</p>

        <h2>🧙‍♂️ Need to Reach Out? 📜</h2>
        <p>If you have any questions or need assistance with your magical journey, you can send your owl (or email) to our enchanting team at <a href="mailto:contact@movieactorwonderland.com">contact@movieactorwonderland.com</a>.</p>
    </div>
</div>
<br />
<br />